@import 'tailwindcss';

@import '@fontsource/kanit/700.css';
@import '@fontsource/kanit/900.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/600.css';

@import '@fontsource-variable/jetbrains-mono';

@theme {
  --font-display: 'Kanit', sans-serif;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono Variable', monospace;

  --color-luck-green-medium: #064e3b;
  --color-luck-gold: #fbbf24;
  --color-luck-gold-dark: #b45309;
  --color-luck-emerald: #10b981;
  --color-luck-green-dark: #021a14;
  --color-luck-green-bright: #10b981;
  --color-luck-gold-muted: rgba(251, 191, 36, 0.1);
}

/* ==========================================================================
   ESTILOS GENERALES DEL VIEWPORT (SCROLLBAR DE LA PANTALLA PRINCIPAL)
   ========================================================================== */

/* Firefox: Se limita solo a la raíz de la página */
html,
body {
  scrollbar-width: thin;
  scrollbar-color: rgba(251, 191, 36, 0.2) #021a14;
}

/* Chrome, Safari, Edge, Brave: Afecta solo a la barra del navegador principal */
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: #0b0f0e; /* Se fusiona con el fondo oscuro de tu Torre de Control */
}

body::-webkit-scrollbar-thumb {
  background: rgba(251, 191, 36, 0.15); /* Tu --color-luck-gold con baja opacidad */
  border-radius: 9999px;
  border: 2px solid #0b0f0e; /* Espaciador elegante */
  transition: background-color 0.2s ease;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(251, 191, 36, 0.4); /* Más brillante al interactuar */
}

body::-webkit-scrollbar-thumb:active {
  background: #fbbf24; /* Tu dorado sólido al arrastrarla */
}

/* ==========================================================================
   UTILIDADES PERSONALIZADAS (Sintaxis Tailwind v4)
   ========================================================================== */
@utility scrollbar-hide {
  /* Chrome, Safari y Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* IE, Edge y Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-date-input {
  color-scheme: dark; /* Esto obliga al navegador a usar el tema oscuro para el calendario */
}

.custom-date-input::-webkit-calendar-picker-indicator {
  display: block;
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
