@import 'tailwindcss';

@import '@fontsource/kanit/700.css';
@import '@fontsource/kanit/900.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/600.css';

@import '@fontsource-variable/jetbrains-mono';

@theme {
  --font-display: 'Kanit', sans-serif;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono Variable', monospace;

  /* Puedes agregar colores temáticos para "El Golpe de la Suerte" aquí también */
  --color-luck-gold: #ffd700;
  --color-luck-green: #008000;
}
