@import 'tailwindcss';

@import '@fontsource/kanit/700.css';
@import '@fontsource/kanit/900.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/600.css';

@import '@fontsource-variable/jetbrains-mono';

@theme {
  --font-display: 'Kanit', sans-serif;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono Variable', monospace;

  --color-luck-green-medium: #064e3b;
  --color-luck-gold: #fbbf24;
  --color-luck-gold-dark: #b45309;
  --color-luck-emerald: #10b981;
  --color-luck-green-dark: #021a14;
  --color-luck-green-bright: #10b981;
  --color-luck-gold-muted: rgba(251, 191, 36, 0.1);
}
